<section class="footer">
  <div class="footer__items">
    <div class="footer__item">
      <img src="/assets/images/icons/home.png">
    </div>
    <div class="footer__item">
      <img src="/assets/images/icons/person.png">
    </div>
    <div class="footer__item">
      <button class="footer__btn"><img src="/assets/images/icons/button-icon.png"><span
          class="text">Quizzes</span></button>
    </div>
    <div class="footer__item">
      <img src="/assets/images/icons/wallet.png">
    </div>

  </div>

</section>
