.footer {
  background-color: #ffffff;
  height: 114px;
  border-radius: 37px 37px 0 0;
  box-shadow: 0px 0 9px rgba(63, 46, 46, 0.6);

  &__items {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    padding: 0px 20px;
  }

  &__btn {
    border-radius: 20px;
    background-color: #00FFCB;
    font-size: 12px;
    padding: 2px 9px 9px;
    border: 0px;

    img {
      transform: translateY(7px);
      padding: 0px 4px;
    }

    .text {
      margin-top: 3px;
    }
  }


}
