.categories {
  background-color: white;
  padding: 0rem 0rem 10rem 0rem;

  &__header {
    font-family: 'Comic Neue';
    font-size: 24px;
    margin: 38px 30px 0px;

  }

  &__category {
    display: flex;
    margin: 20px 0px 0px 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

  }

  &__category::-webkit-scrollbar {
    display: none;

  }

  &__category::-webkit-scrollbar-thumb {
    display: none;
  }

  &__category::-webkit-scrollbar-track {
    display: none;
  }

  &__category>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 110px;
    height: 61px;
    margin-right: 15px;
    border-radius: 20px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    z-index: 9;
  }

  .card-info {
    color: white;
    padding: 0rem 7rem 1.2rem 0;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0;
    z-index: 6;
    font-size: 13px;
    font-family: 'Comic Neue';
  }


  img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border-radius: 20px;
    color: white;
  }
}
