<section class="categories">
  <div class="categories__header">
    Nature
  </div>
  <div class="categories__category">
    <div id="img-1">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Nature</div>
    </div>
    <div id="img-2">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Nature</div>
    </div>
    <div id="img-3">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Nature</div>
    </div>
    <div id="img-4">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Nature</div>
    </div>
    <div id="img-5">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Nature</div>
    </div>
  </div>

  <div class="categories__header">
    Education
  </div>
  <div class="categories__category">

    <div id="img-1">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Education</div>
    </div>
    <div id="img-2">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Education</div>
    </div>
    <div id="img-3">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Education</div>
    </div>
    <div id="img-4">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Education</div>
    </div>
    <div id="img-5">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">Education</div>
    </div>
  </div>
  <div class="categories__header">
    World
  </div>
  <div class="categories__category">
    <div id="img-1">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">World</div>
    </div>
    <div id="img-2">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">World
      </div>
    </div>
    <div id="img-3">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">World</div>
    </div>
    <div id="img-4">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">World</div>
    </div>
    <div id="img-5">
      <img src="/assets/images/placeholder.jpg">
      <div class="card-info">World</div>
    </div>
  </div>

</section>
