.top-bar {
  background-color: white;
  padding: 10px 0px 0px 30px;

  &__arrow {
    cursor: pointer;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 15px 0px 0px;
  }

  &__heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #171717;
    font-family: 'Comic Neue';
  }

  &__button {
    display: flex;
    align-items: flex-end;
    width: 69px;
    height: 13px;

    .nav-button {
      border-radius: 25px;
      background: transparent;
      border: solid 1px lightgrey;
      background: white;
      font-size: 12px;
      color: #FCBD11;
      padding: 1px 7px;
    }

    .btn-number {
      padding: 0px 9px 0px 0px;
      transform: translateY(200px);
    }

    .nav-button img {
      transform: translateY(2px);
    }

  }
}
