<section class="top-bar">
  <div class="top-bar__navigation">
    <div class="top-bar__arrow">
      <mat-icon>keyboard_backspace</mat-icon>
    </div>
    <div class="top-bar__heading">
      categories
    </div>
    <div class="top-bar__button">
      <button class="nav-button"><span class="btn-number">40</span><img src="/assets/images/icons/coin.png"></button>
    </div>
  </div>

</section>
