/* You can add global styles to this file, and also import other style files */
// https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Aperson;
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

html, body { height: 100%; 
max-width: 320px;
background-color: lightgrey;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
